<!-- views/index.ejs -->
<%- include('layout', { pageTitle: 'Blog Home', body: `
  <section class="options">
    <a href="/create" class="button">Create a Post</a>
    <a href="/view" class="button">View Posts</a>
  </section>
` }) %>
